<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="my-4">
        <h4 class="col-3 bg-light text-center">商品編集</h4>
      </div>
      <div class="mx-5 my-3">
        <%= render"form", genres: @genres, item: @item, url: admin_item_path, submit: "変更を保存" %>
      </div>
     </div>
  </div>
</div>