<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="my-4">
        <h4 class="col-3 bg-light text-center">商品新規登録</h4>
        <div class="text-danger">
          <%= render"layouts/errors", obj: @item %>
        </div>
      </div>
      <div class="mx-5 my-3">
        <%= render"form", item: @item, url: admin_items_path, submit: "新規登録" %>
      </div>
     </div>
  </div>
</div>