<% content_for :title, "ジャンル検索" %>
<%= render "public/homes/sidebar" %>
<div class="p-3 col-9">
  <h3><%= Genre.find(params[:id]).name %>一覧</h3>
  <%= render "public/items/index", items: @items %>
  <%= paginate @items %>
</div>
