	<table class="table">
		<thead>
			<tr>
				<th class="text-center">商品名</th>
				<th class="text-center">単価 (税込)</th>
				<th class="text-center">数量</th>
				<th class="text-center">小計</th>
			</tr>
		</thead>
		<tbody>
			<% items.each do |item| %>
				<tr>
					<td class="text-center"><%= item.item.name %></td>
					<td class="text-end"><%= price_taxin(item.item.price) %></td>
					<td class="text-center"><%= item.amount %></td>
					<td class="text-end"><%= price_taxin(item.item.price * item.amount) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>