<table class="table">
	<tbody>
		<tr>
			<th class="text-center">送料</th>
			<td class="text-end"><%= price(@shipping_cost) %></td>
		</tr>
		<tr>
			<th class="text-center">商品合計</th>
			<td class="text-end"><%= price(@subtotal) %></td>
		</tr>
		<tr>
			<th class="text-center">請求金額</th>
			<td class="text-end"><%= price(@total_payment) %></td>
		</tr>
	</tbody>
</table>