<div class="item_list d-flex mx-auto justify-content-center">
  <% items.each do |item| %>
    <div class="item_box">
      <%= link_to item_path(item.id), class: "text-decoration-none text-dark" do %>
        <div class="p-1 item_box_inner">
          <%#= image_tag item.get_item_image(100,100), size: "100x100" %>
          <%= image_tag asset_path("cake_sample.jpg") %>
          <div class="item_box_text">
            <p><%= item.name %></p>
            <p><%= item.price_taxin %></p>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
    <div class="item_box_space"></div>
    <div class="item_box_space"></div>
    <div class="item_box_space"></div>
</div>