// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.select_address table td{
	padding-bottom: 0.5rem;
	padding-right: 0.5rem;
}

.select_address table tr>td:first-child{
	white-space: nowrap;
}

.select_address table tr>td:last-child{
	width: 80%;
}

